<div id="systems" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    ac_unit
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    System
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-16 mx-md-0" [style.color]="'gray'">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center" [style.color]="'gray'">

                    <mat-form-field fxFlex>

                        <mat-select [(ngModel)]="selectedCategoriesSearch"
                            (selectionChange)="OnBrandChange(selectedCategoriesSearch)" multiple>
                            <mat-option [value]="-1">All Brand</mat-option>
                            <mat-option *ngFor="let data of BrandListItems" [value]="data.BrandID">
                                {{ data.BrandName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


            <div class="search-wrapper mx-16 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center"
                    style="background: white;color:gray;">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search System">
                </div>
            </div>


            <!-- / SEARCH -->
            <!-- ADD BUTTON -->
            <!-- <button mat-raised-button
                    [routerLink]="'/systems/new'"
                    class="add-system-button fuse-white mt-24 mt-md-0">
                <span>ADD NEW SYSTEM</span>
            </button> -->
            <!-- / ADD BUTTON -->

        </div>




        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="systems-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>


                <!-- <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                    <mat-cell *matCellDef="let system">
                        <p class="text-truncate">{{system.id}}</p>
                    </mat-cell>
                </ng-container> -->

                <!-- Image Column -->
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let system">
                        <!-- <img class="system-image"
                             *ngIf="system.featuredImageId" [alt]="system.SystemName"
                             [src]="system.images[0].ImageURL"/>
                        <img *ngIf="!system.featuredImageId"
                             [src]="'assets/images/ecommerce/system-image-placeholder.png'"> -->
                        <img class="avatar" *ngIf="system.ThumbnailURL" [alt]="system.SystemName"
                            [src]="system.ThumbnailURL" disabled />
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>System Name</mat-header-cell>
                    <mat-cell *matCellDef="let system">
                        <p class="text-truncate">{{system.SystemName}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Brand</mat-header-cell>
                    <mat-cell *matCellDef="let system">
                        <p class="text-truncate">{{system.BrandName}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ResourceCount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Resource Count</mat-header-cell>
                    <mat-cell *matCellDef="let system">
                        <p class="text-truncate">{{system.ResourceCount}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="TrainingMaterialCount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Training Material Count</mat-header-cell>
                    <mat-cell *matCellDef="let system">
                        <p class="text-truncate">{{system.TrainingMaterialCount}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ProductCount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Product Count</mat-header-cell>
                    <mat-cell *matCellDef="let system">
                        <p class="text-truncate">{{system.ProductCount}}</p>
                    </mat-cell>
                </ng-container>


                <!-- Price Column -->
                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Surg. Tech</mat-header-cell>
                    <mat-cell *matCellDef="let system" fxHide fxShow.gt-xs>
                        <span class="quantity-indicator text-truncate"
                            [ngClass]="{'green-500':system.quantity <= 5, 'amber-500':system.quantity > 5 && system.quantity <= 25,'red-600':system.quantity > 25}">
                        </span>
                    </mat-cell>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>510K</mat-header-cell>
                    <mat-cell *matCellDef="let system" fxHide fxShow.gt-sm>

                        <span class="quantity-indicator text-truncate"
                            [ngClass]="{'red-500':system.quantity <= 5, 'amber-500':system.quantity > 5 && system.quantity <= 25,'green-600':system.quantity > 25}">
                        </span>

                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ifu">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>IFU</mat-header-cell>
                    <mat-cell *matCellDef="let system" fxHide fxShow.gt-sm>

                        <span class="quantity-indicator text-truncate"
                            [ngClass]="{'red-500':system.quantity <= 5, 'amber-500':system.quantity > 5 && system.quantity <= 25,'green-600':system.quantity > 25}">
                        </span>


                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let system">
                        <div fxFlex="row" fxLayoutAlign="end center">

                            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation();">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button mat-menu-item aria-label="remove" (click)="deletesystem(system)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Remove</span>
                                </button>
                            </mat-menu>
                        </div>

                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let system; columns: displayedColumns;" class="system" matRipple
                    [routerLink]="'/systems/'+system.SystemID">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>