<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->

    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">

        </mat-cell>
    </ng-container>


    <!-- <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <img class="usermanagement" *ngIf="usermanagement.avatar" [alt]="usermanagement.name"
                 [src]="usermanagement.avatar" style="border-radius:50px; margin-left: -10px;"/>
        </mat-cell>
    </ng-container> -->

    <!--     
    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
          
        </mat-cell>
    </ng-container> -->

    <!-- Avatar Column -->
    <ng-container matColumnDef="region">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Region</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.region}}</p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cname">
        <mat-header-cell *matHeaderCellDef>Company Name</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.cname}}</p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="distributor">
        <mat-header-cell *matHeaderCellDef>Distributor Name</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.distributor}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.FirstName}}</p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.LastName}}</p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.RoleName}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address1">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Address 1</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement" fxHide fxShow.gt-lg>
            <p class="address1 text-truncate">
                {{usermanagement.address1}}
            </p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="address2">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Address 2</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement" fxHide fxShow.gt-lg>
            <p class="address2 text-truncate">
                {{usermanagement.address2}}
            </p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.city}}</p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.state}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="doj">
        <mat-header-cell *matHeaderCellDef>DOJ</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.doj}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="taskstatus">
        <mat-header-cell *matHeaderCellDef>Task Status</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.TaskStatus}}</p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="zcode">
        <mat-header-cell *matHeaderCellDef>Zip Code</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.zcode}}</p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>Mobile Number</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.MobileNo}}</p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.EMailID}}</p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.UserName}}</p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="register">
        <mat-header-cell *matHeaderCellDef>Register On</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.register}}</p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="onboarding">
        <mat-header-cell *matHeaderCellDef>Onboarding Date</mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <p class="text-truncate font-weight-600"> {{usermanagement.onboarding}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
















    <!-- Email Column -->


    <!-- Phone Column -->


    <!-- Job Title Column -->



    <!-- Company Column -->


    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let usermanagement">
            <div fxFlex="row" fxLayoutAlign="end center">


                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                    (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteUsermanagement(usermanagement)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let usermanagement; columns: displayedColumns;" class="usermanagement"
        (click)="editUsermanagement(usermanagement)" [ngClass]="{'accent-50':checkboxes[usermanagement.UserID]}"
        [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>