<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="dailymessageForm">

            <div fxLayout="row" fxLayoutAlign="start start" style="display: none;">
                <mat-form-field appearance="outline" fxFlex="100" class="pl-4" style="display: none;">
                    <mat-label>MessageID</mat-label>
                    <textarea matInput formControlName="MessageID">
                    </textarea>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                    <mat-label>Update Date</mat-label>
                    <input matInput formControlName="FromDate" type="date" required>
                    <mat-error>Date is required!</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                    <mat-label>Down Date</mat-label>
                    <input matInput formControlName="ToDate" type="date" required>
                    <mat-error>Date Time is required!</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                    <mat-label>Message</mat-label>
                    <textarea matInput formControlName="Message" required style="height: 120px;">
                    </textarea>
                </mat-form-field>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="start start">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="Roles" multiple required>
                        <mat-option #allSelected (click)="toggleAllSelection()" [value]="0">All</mat-option>
                        <mat-option *ngFor="let data of roleList" [value]="data.RoleID" (click)="tosslePerOne(allSelected.viewValue)">{{data.RoleName}}</mat-option>
                    </mat-select>
                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                    <mat-error>Role is required!</mat-error>
                </mat-form-field>

            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                    <mat-label>Followup Message</mat-label>
                    <textarea matInput formControlName="FollowupMessage">
                    </textarea>
                </mat-form-field>
            </div>


            

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex="100" class="pl-4">
                    <mat-label>Link URL</mat-label>
                    <textarea matInput formControlName="LinkURL">
                    </textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" style="display: none;">
                <mat-form-field appearance="outline" fxFlex="100" class="pl-4" style="display: none;">
                    <mat-label>Image URL</mat-label>
                    <textarea matInput formControlName="ImageURL">
                    </textarea>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Daily Message Image</mat-label>
                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                    <button mat-raised-button (click)="fileInput.click()"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                        <span>Browse</span>
                    </button>

                    <button mat-raised-button style="display: none; float: right;" (click)="onUpload()">Upload!</button>

                    <input matInput placeholder="Product Name" style="display: none;" name="name"
                        formControlName="ImageURL">


                </mat-form-field>

            </div>

            <div style="text-align: center;">
                <img *ngIf="ImageURLNew && ImageURLNew == ''" [src]="dailymessage.ImageURL" width="250px" class="system-avatar huge m-0" [alt]="" />
                <div *ngIf="ImageURLNew && ImageURLNew !== ''">
                    <img [src]="ImageURLNew" width="250px" class="system-avatar huge m-0" [alt]="" />
                </div>

            </div>






        </form>

    </div>


    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-button class="mr-8" (click)="matDialogRef.close()" aria-label="CANCEL" matTooltip="CANCEL">
            CANCEL
        </button>
        <button *ngIf="action !== 'edit'" mat-button class="save-button"  [disabled]="dailymessageForm.invalid" (click)="saveDailyMessage()"
            aria-label="SAVE">
            ADD
        </button>
        <!-- -->
        <button *ngIf="action === 'edit'" mat-button class="save-button" [disabled]="dailymessageForm.invalid" (click)="saveDailyMessage()"
            aria-label="SAVE">
            SAVE
        </button>
        <!-- [disabled]="dailymessageForm.invalid"  -->

    </div>
</div>